/* Main online recources here */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");

/* ------------------------------------------------------------------------------------------------ */
/* Additional CSS code imported here  */
/* --------------------------------------------------------------------------------- */
/* font-family: 'Rochester', cursive; */
:root {
  --primary-color: #000000;
  --secondary-color: #171717;
  --tertiary-color: #2E27F7;
  --text-color-1: #F7272F;
  --text-color-2: #FFFFFF;
  --text-color-3: #a1a1a6;
  --text-color-4: #d2d2d6;
  --optional-black: #0e0e0e;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(10%) auto fit-content(5%);
  grid-template-areas:
    "header  header  header"
    "homePage homePage homePage"
    "footer  footer  footer";
  background-color: var(--primary-color);
}

/* header & navigation area control start */
header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: var(--secondary-color);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .mainLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
  color: var(--text-color-1);
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 0 4%;
}

header .mainLogo span {
  position: relative;
  bottom: .4rem;
  margin-left: .7rem;
  font-size: .53rem;
  color: var(--text-color-2);
  letter-spacing: .1rem;
}

header nav {
  position: relative;
  right: 4%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  list-style: none;
  cursor: pointer;
}

header nav ul li {
  margin: 1.25rem 1.25rem 1.25rem 1.25rem;
}

header nav ul a {
  text-decoration: none;
  color: var(--text-color-2);
}

header nav ul a:hover {
  color: var(--text-color-1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-bottom: 0.15em solid var(--text-color-1);
}

#redBtn {
  color: var(--text-color-1);
  border-bottom: 0.15em solid var(--text-color-1);
}


#mobileNavbar {
  display: none;
}

/* header & navigation area control end */



// MAIN CONTENT CONTROLS STARTS HERE -------------------------------



.homePage {
  grid-area: homePage;
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "designerSection mainPhotoSection coderSection";



  .designerSection {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: designerSection;
    background-color: lightgray;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  .mainPhotoSection {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: mainPhotoSection;
    background-color: gray;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  .coderSection {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: coderSection;
    background-color: lightgray;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }


}




// MAIN CONTENT CONTROLS ENDS HERE -------------------------------





// Footer control starts here ------------------------------------


footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  width: 100vw;
  background-color: var(--secondary-color);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2em;
}

footer a {
  font-size: .5rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
  color: var(--text-color-3);
  text-decoration: none;
}



// Footer control ends here ------------------------------------



@media all and (max-width: 520px) {


  // Hamburger Menu control area starts here -------------------------------------


  // Make Main Navbar not visible

  #mainNavbar {
    display: none;
  }


  // Mobile menu list style controls here
  #mobileNavbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: fixed;
    // left: 90%;

    ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 2.5rem;
      width: 100vw;

      li {
        align-self: center;
        text-decoration: none;
        list-style: none;
        padding: .5rem;
        text-align: center;
        border: 1px solid var(--optional-black);
        background-color: var(--secondary-color);
        width: 100vw;

        a {
          text-decoration: none;
          color: var(--text-color-2);
        }

        a:hover {
          color: var(--text-color-1);
          cursor: pointer;
          transition-duration: 0.3s;
        }

      }
    }

    #redBtn {
      color: var(--text-color-1);
      // border-bottom: 0.15em solid var(--text-color-1);
      border: none;
    }
  }




  // Creating a Stylish Toggle button
  .toggler {
    left: 90vw;
    --s: 1.5rem;
    /* control the size */
    --c: #fff;
    /* the color */

    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s)/1.9) solid #0000;
    box-sizing: content-box;
    --_g: linear-gradient(var(--c) 10%, #0000 0 90%, var(--c) 0) no-repeat content-box border-box;
    background: var(--_g) 0, var(--_g) 100%;
    background-size: 50% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
    cursor: pointer;
    transition:
      background-position .4s var(--_s, .4s),
      clip-path 0s var(--_s, .6s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .toggler:before,
  .toggler:after {
    content: "";
    position: absolute;
    inset: 45% 0;
    background: var(--c);
    transition: transform .4s calc(.4s - var(--_s, .4s));
  }

  .toggler:checked {
    clip-path: inset(0);
    background-position: -200%, 300%;
    --_s: 0s;
  }

  .toggler:checked:before {
    transform: rotate(45deg);
  }

  .toggler:checked:after {
    transform: rotate(-45deg);
  }

  .toggler:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
  }


  // Make Toggle to show and hide the mobile Menu 


  // Show mobile Menu
  .toggler:checked~#mobileMenu {
    visibility: visible;

    animation: menuSlide 1.5s ease;
    z-index: 1;

    @-webkit-keyframes menuSlide {

      100% {
        opacity: 1;
        transform: translateY(0rem);
      }

      0% {
        opacity: 0;
        transform: translateY(-12rem);
      }
    }
  }



  // Hide the mobile Menu
  #mobileMenu {
    visibility: hidden;
  }








  // .toggler:not(:checked)~#mobileMenu {
  //   animation: menuSlideup 1.5s ease;
  //   z-index: 0;

  //   @-webkit-keyframes menuSlideup {  

  //     100% {
  //       opacity: 1;
  //       transform: translateY(0rem);
  //     }

  //     0% {
  //       opacity: 0;
  //       transform: translateY(-12rem);
  //     }
  //   }
  // }







  footer {
    background-color: red;
  }


}

// @media all and (max-width: 768px) {
//   body {
//     margin: 0;
//     display: -ms-grid;
//     display: grid;
//     -ms-grid-columns: 100%;
//         grid-template-columns: 100%;
//     -ms-grid-rows: auto;
//         grid-template-rows: auto;
//         grid-template-areas: "footer"
//  "main"
//  "header";
//   }
//   header {
//     -ms-grid-row: 3;
//     -ms-grid-column: 1;
//     grid-area: header;
//     background-color: red;
//   }
//   main {
//     -ms-grid-row: 2;
//     -ms-grid-column: 1;
//     grid-area: main;
//     background-color: brown;
//   }
//   footer {
//     -ms-grid-row: 1;
//     -ms-grid-column: 1;
//     grid-area: footer;
//     background-color: yellow;
//   }
// }















// NOTE: THIS CODE IS NOT PART OF THIS CODE -----------------------

// Creating a Simple Toggle button

// .toggler {
//   width: 40px;
//   aspect-ratio: 1;
//   background: linear-gradient(#fff 50%, #0000 0) 0 0/100% 40%;

//   -webkit-appearance:none;
//   -moz-appearance:none;
//   appearance:none;
//   cursor:pointer;
// }

// .toggler:checked {
//    width: 40px;
//   aspect-ratio: 1;
//   background:  conic-gradient(from 90deg at 33% 33%, #0000 90deg, #fff 0) 
//     100% 100%/60% 60%;
//   transform: translateZ(0px) rotate(45deg);
// }